.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in 1s ease;
}

.slide-in {
  animation: slide-in 1s ease;
}

.slide-from-left {
  animation: slide-from-left 1s ease;
}

.slide-from-right {
  animation: slide-from-right 1s ease;
}
