@use "../utils" as utils;

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  background-color: utils.$primary-colour;
  color: white;
}

input,
button,
textarea,
select,
section {
  font: inherit;
}
