@use "../utils" as utils;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: utils.$primary-colour;
  white-space: wrap;
}

h1 {
  font-size: clamp(2rem, 1.167rem + 3.704vw, 4.5rem);
  line-height: calc(10 / 9 * 1em);
  font-weight: bold;
}

h2 {
  font-size: clamp(2rem, 1.333rem + 2.963vw, 4rem);
  line-height: 1.125em;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
  line-height: calc(4 / 3 * 1em);
}

a {
  font-weight: medium;

  &:hover {
    cursor: pointer;
  }
}

// 64px
.font-xl {
  font-size: clamp(2rem, 1.333rem + 2.963vw, 4rem);
}

// 56px??
.font-semi-xl {
  font-size: clamp(2rem, 1.5rem + 2.222vw, 3.5rem);
  line-height: 1.25em;
}

// 32px
.font-lg {
  font-size: clamp(1rem, 0.667rem + 1.481vw, 2rem);
  line-height: 1.25em;
}

// 24 px;
.font-md {
  font-size: 1.5rem;
  line-height: calc(4 / 3 * 1em);
}

// 18px
.font-sm-md {
  font-size: 1.125rem;
  line-height: calc(13 / 9 * 1em);
}

// 16px
.font-base {
  font-size: 1rem;
  line-height: 1.5em;
}

// 14px
.font-sm {
  font-size: 0.875rem;
}
