@use "sass:map";

$secondary-colour: rgb(255, 184, 76);
$primary-colour: rgb(43, 39, 48);
$semi-white: rgb(246, 246, 246);
$transition-duration: 400ms;

$breakpoints: (
  extra-small: 436px,
  medium: 768px,
  // This is the breaking point of responsive navbar
  semi-large: 834px,
  large: 1024px,
  extra-large: 1280px,
  // extra-large-2: 1536px
);
