@use "../utils/" as utils;

.coloured-btn {
  padding: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  background-color: utils.$primary-100;
  color: white;
  border: 1px solid transparent;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  transition-duration: utils.$transition-duration;

  &--enabled {
    background-color: utils.$primary-100;
    &:hover {
      cursor: pointer;
      background-color: seagreen;
    }
  }

  &--disabled {
    background-color: gray;
  }
}

.transparent-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition-duration: utils.$transition-duration;
  border-radius: 4px;

  &--large {
    padding: 1rem 2.5rem;
    text-transform: uppercase;
  }

  &--regular {
    padding: 0.5rem 1.5rem;
  }

  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
}

.submit-btn {
  padding: 1rem 3rem;
  background-color: utils.$primary-100;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition-duration: utils.$transition-duration;

  &:hover {
    cursor: pointer;
    background-color: seagreen;
  }
}
